# Dependencies
/node_modules

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
*.pem

# Debug
npm-debug.log*

# Local env files
.env*.local

# Supabase
/supabase/*.temp

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/portfolio.code-workspace
!.vscode/extensions.json
!.vscode/settings.json
